<a href="https://colab.research.google.com/github/norayehia/pyspark-ETL-carsanalyses/blob/main/pysparkdataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Getting started with Spark DataFrames
,undestand dataframe ,describe,

In [ ]:
# Install Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Download and install Spark (change the version if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Set up environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
!pip show py4j

Name: py4j
Version: 0.10.9.7
Summary: Enables Python programs to dynamically access arbitrary Java objects
Home-page: https://www.py4j.org/
Author: Barthelemy Dagenais
Author-email: barthelemy@infobart.com
License: BSD License
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by: hyperopt

In [ ]:
!pip install py4j==0.10.9

Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 1.6 MB/s eta 0:00:00
Installing collected packages: py4j
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 20.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a7ab64405f53215aca5cd9ac461abb740de2fae12aa04af70a7a22e26563557c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9
    Uninstalling py4j-0.10.9:
      Successfully uninstalled py4j-0.10.9
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [ ]:
# Importing findspark module to connect jupyter with spark
import os
import pyspark

In [ ]:
import findspark
#findspark.init()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pyspark.conf import SparkConf

In [ ]:
# Import necessary modules
import os
import pyspark
from pyspark.sql import SQLContext

In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
         .master("local[*]") \
         .appName("SparkDataFrame") \
         .getOrCreate()

In [ ]:
# Use the existing SparkContext object
sc = pyspark.SparkContext.getOrCreate()
sqlc = SQLContext(sc)

### Create a sample dataframe by reading the data from a csv file

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving mtcars.csv to mtcars (2).csv

In [ ]:
#!pip install pyspark-csv

ERROR: Could not find a version that satisfies the requirement pyspark-csv (from versions: none)
ERROR: No matching distribution found for pyspark-csv

In [ ]:
#!curl -o mtcars.csv https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson04/mtcars.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1700  100  1700    0     0   1336      0  0:00:01  0:00:01 --:--:--  1337

In [ ]:
df = spark.read.csv('mtcars.csv')

In [ ]:
#df = sqlc.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson04/mtcars.csv')
type(df)

pyspark.sql.dataframe.DataFrame

### Print first 7 rows of the dataframe

In [ ]:
df.show(7)

+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
|              _c0| _c1|_c2| _c3|_c4| _c5|  _c6|  _c7|_c8|_c9|_c10|_c11|
+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl|disp| hp|drat|   wt| qsec| vs| am|gear|carb|
|        Mazda RX4|  21|  6| 160|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|  21|  6| 160|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4| 108| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6| 258|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8| 360|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|          Valiant|18.1|  6| 225|105|2.76| 3.46|20.22|  1|  0|   3|   1|
+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
only showing top 7 rows

In [ ]:
# Read the CSV file without the first row and with the second row as the header
df2 = spark.read.option("header", "true").csv("/content/mtcars.csv")

# Show DataFrame
df2.show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|  21|  6|  160|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|  21|  6|  160|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|  108| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|  258|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|  360|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|  225|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|  360|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19|   20|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78|   18|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|  472|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|  460|215|   3|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|  440|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

### Print the schema of the dataframe

In [ ]:
df2.printSchema()

root
 |-- model: string (nullable = true)
 |-- mpg: string (nullable = true)
 |-- cyl: string (nullable = true)
 |-- disp: string (nullable = true)
 |-- hp: string (nullable = true)
 |-- drat: string (nullable = true)
 |-- wt: string (nullable = true)
 |-- qsec: string (nullable = true)
 |-- vs: string (nullable = true)
 |-- am: string (nullable = true)
 |-- gear: string (nullable = true)
 |-- carb: string (nullable = true)

### Print the number of columns and rows in dataframe

In [ ]:
print('number of rows:'+ str(df2.count()))
print('number of columns:'+ str(len(df2.columns)))

number of rows:32
number of columns:12

### Print the summary statistics of dataframe and any 2 individual columns

In [ ]:
## Summary statistics of the dataframe
df2.describe().show()

+-------+-----------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+
|summary|      model|               mpg|               cyl|              disp|               hp|              drat|                wt|              qsec|                vs|                 am|              gear|              carb|
+-------+-----------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+
|  count|         32|                32|                32|                32|               32|                32|                32|                32|                32|                 32|                32|                32|
|   mean|       NULL|20.090624999999996|            6.1875|230.72187500000004|         146.6875|3.5965625000000006|3.2172499999999995|17.848750000000003|            0.4375|            0.40625|            3.6875|            2.8125|
| stddev|       NULL| 6.026948052089103|1.7859216469465444|123.93869383138195|68.56286848932059|0.5346787360709716|0.9784574429896968|1.7869432360968436|0.5040161287741853|0.49899091723584604|0.7378040652569471|1.6151999776318522|
|    min|AMC Javelin|              10.4|                 4|               108|              105|              2.76|             1.513|              14.5|                 0|                  0|                 3|                 1|
|    max| Volvo 142E|              33.9|                 8|              95.1|               97|              4.93|             5.424|              22.9|                 1|                  1|                 5|                 8|
+-------+-----------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+

Renam5column

In [ ]:
data2 = df2
new_names = ['mpg_new', 'cyl_new', 'disp_new', 'hp_new', 'drat_new']
for i,z in zip(data2.columns[0:5],new_names):
    data2 = data2.withColumnRenamed(str(i),str(z))

data2.columns

['mpg_new',
 'cyl_new',
 'disp_new',
 'hp_new',
 'drat_new',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb']

In [ ]:
data2.show(5)

+-----------------+-------+--------+------+--------+----+-----+-----+---+---+----+----+
|          mpg_new|cyl_new|disp_new|hp_new|drat_new|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+-------+--------+------+--------+----+-----+-----+---+---+----+----+
|        Mazda RX4|     21|       6|   160|     110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|     21|       6|   160|     110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|   22.8|       4|   108|      93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|   21.4|       6|   258|     110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|   18.7|       8|   360|     175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+-------+--------+------+--------+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [ ]:
data=df2

In [ ]:
data = data.withColumnRenamed('cyl', 'cyl_new')

count the number of distinct categories in the categorical variable

In [ ]:
data.select('cyl_new').distinct().count()

3

In [ ]:
df2.show(5)

+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl|disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|  21|  6| 160|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|  21|  6| 160|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4| 108| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6| 258|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8| 360|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

Sort the data by categorical column

In [ ]:
data = data.orderBy(data.cyl_new)
data.show(5)

+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
|         model| mpg|cyl_new| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
|Toyota Corolla|33.9|      4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
|    Volvo 142E|21.4|      4|  121|109|4.11| 2.78| 18.6|  1|  1|   4|   2|
| Toyota Corona|21.5|      4|120.1| 97| 3.7|2.465|20.01|  1|  0|   3|   1|
|   Honda Civic|30.4|      4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Fiat X1-9|27.3|      4|   79| 66|4.08|1.935| 18.9|  1|  1|   4|   1|
+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [ ]:

data.count()

32

In [ ]:
data.show(5)

+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
|         model| mpg|cyl_new| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
|Toyota Corolla|33.9|      4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
|    Volvo 142E|21.4|      4|  121|109|4.11| 2.78| 18.6|  1|  1|   4|   2|
| Toyota Corona|21.5|      4|120.1| 97| 3.7|2.465|20.01|  1|  0|   3|   1|
|   Honda Civic|30.4|      4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Fiat X1-9|27.3|      4|   79| 66|4.08|1.935| 18.9|  1|  1|   4|   1|
+--------------+----+-------+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

Calculate the mean of the summation column for each distinct category in the catgeorical variable

In [ ]:
#from pyspark.sql.functions import col

# Add the new columns colsum and colproduct based on the specified operations
data = data.withColumn('colsum', data.mpg + data.hp)
data = data.withColumn('colproduct', data.mpg * data.hp)

# Show the modified DataFrame
data.show()

+-----------------+----+-------+-----+---+----+-----+-----+---+---+----+----+------+------------------+
|            model| mpg|cyl_new| disp| hp|drat|   wt| qsec| vs| am|gear|carb|colsum|        colproduct|
+-----------------+----+-------+-----+---+----+-----+-----+---+---+----+----+------+------------------+
|       Datsun 710|22.8|      4|  108| 93|3.85| 2.32|18.61|  1|  1|   4|   1| 115.8|            2120.4|
|        Merc 240D|24.4|      4|146.7| 62|3.69| 3.19|   20|  1|  0|   4|   2|  86.4|            1512.8|
|         Merc 230|22.8|      4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2| 117.8|            2166.0|
|         Fiat 128|32.4|      4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|  98.4|            2138.4|
|      Honda Civic|30.4|      4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|  82.4|            1580.8|
|   Toyota Corolla|33.9|      4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|  98.9|            2203.5|
|    Toyota Corona|21.5|      4|120.1| 97| 3.7|2.465|20.01|  1|  0|   3|   1| 118.5|            2085.5|
|        Fiat X1-9|27.3|      4|   79| 66|4.08|1.935| 18.9|  1|  1|   4|   1|  93.3|            1801.8|
|    Porsche 914-2|  26|      4|120.3| 91|4.43| 2.14| 16.7|  0|  1|   5|   2| 117.0|            2366.0|
|     Lotus Europa|30.4|      4| 95.1|113|3.77|1.513| 16.9|  1|  1|   5|   2| 143.4|            3435.2|
|       Volvo 142E|21.4|      4|  121|109|4.11| 2.78| 18.6|  1|  1|   4|   2| 130.4|            2332.6|
|        Mazda RX4|  21|      6|  160|110| 3.9| 2.62|16.46|  0|  1|   4|   4| 131.0|            2310.0|
|    Mazda RX4 Wag|  21|      6|  160|110| 3.9|2.875|17.02|  0|  1|   4|   4| 131.0|            2310.0|
|   Hornet 4 Drive|21.4|      6|  258|110|3.08|3.215|19.44|  1|  0|   3|   1| 131.4|            2354.0|
|          Valiant|18.1|      6|  225|105|2.76| 3.46|20.22|  1|  0|   3|   1| 123.1|1900.5000000000002|
|         Merc 280|19.2|      6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4| 142.2|            2361.6|
|        Merc 280C|17.8|      6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4| 140.8|            2189.4|
|     Ferrari Dino|19.7|      6|  145|175|3.62| 2.77| 15.5|  0|  1|   5|   6| 194.7|            3447.5|
|Hornet Sportabout|18.7|      8|  360|175|3.15| 3.44|17.02|  0|  0|   3|   2| 193.7|            3272.5|
|       Duster 360|14.3|      8|  360|245|3.21| 3.57|15.84|  0|  0|   3|   4| 259.3|            3503.5|
+-----------------+----+-------+-----+---+----+-----+-----+---+---+----+----+------+------------------+
only showing top 20 rows

In [ ]:
data.groupby('cyl_new').agg({'colsum':'mean'}).show()

+-------+------------------+
|cyl_new|       avg(colsum)|
+-------+------------------+
|      4|             109.3|
|      6|142.02857142857144|
|      8|224.31428571428575|
+-------+------------------+

...........................................................

Create 2 new columns in dataframe by summing up and multiplying together the 2 numerical columns

### Write first 7 rows of the sample dataframe in a csv file

In [ ]:
df_p = df.toPandas()
df_p.head(7).to_csv("mtcars_head.csv")

##Preprocessing

#dropduplicate

In [ ]:
data = data.dropDuplicates()
data.count()

32

#change type to numeric

In [ ]:
from pyspark.sql.types import DoubleType

# Assuming 'data' is your DataFrame containing the dataset
data = data.withColumn("cyl_new", data["cyl_new"].cast(DoubleType()))
data = data.withColumn("disp", data["disp"].cast(DoubleType()))
data = data.withColumn("hp", data["hp"].cast(DoubleType()))
data = data.withColumn("drat", data["drat"].cast(DoubleType()))
data = data.withColumn("wt", data["wt"].cast(DoubleType()))
data = data.withColumn("qsec", data["qsec"].cast(DoubleType()))
data = data.withColumn("vs", data["vs"].cast(DoubleType()))
data = data.withColumn("gear", data["gear"].cast(DoubleType()))
data = data.withColumn("carb", data["carb"].cast(DoubleType()))
data = data.withColumn("am", data["am"].cast(DoubleType()))